<!--      2nd STEP-->
      <form class="steps" [formGroup]="form">
        <div class="wrap-sex">
          <label class="sex">
            <input type="radio" name="sex" value="male" formControlName="sex">
            <span>Male</span>
          </label>
          <label class="sex">
            <input type="radio" name="sex" value="Female" formControlName="sex">
            <span>Female</span>
          </label>
        </div>

        <div class="wrap-box">
          <div class="form-control" [ngClass]="{invalid:form.get('age').touched && form.get('age').invalid}">
            <input type="number" placeholder="Your age" class="personal-data" formControlName="age">
          </div>

          <div class="validation"
               *ngIf="form.get('age').touched && form.get('age').invalid"
          >
            <small *ngIf="form.get('age').errors.required">Enter your age</small>
            <small *ngIf="form.get('age').errors.max">Check your age, it is too big</small>
            <small *ngIf="form.get('age').errors.min">Your age must be at least {{form.get('age').errors.min.min}}</small>
          </div>
        </div>

        <div class="wrap-box">
          <div class="form-control" [ngClass]="{invalid:form.get('height').touched && form.get('height').invalid}">
            <input type="number" placeholder="Your height, cm" class="personal-data" formControlName="height">
          </div>
          <div class="validation"
               *ngIf="form.get('height').touched && form.get('height').invalid"
          >
            <small *ngIf="form.get('height').errors.required">Enter your height</small>
            <small *ngIf="form.get('height').errors.max">Check your height it is too big</small>
            <small *ngIf="form.get('height').errors.min">Your height must be at least {{form.get('height').errors.min.min}}</small>
          </div>
        </div>

        <div class="wrap-box">
          <div class="form-control" [ngClass]="{invalid:form.get('weight').touched && form.get('weight').invalid}">
            <input type="number" placeholder="Your current weight, kg" class="personal-data" formControlName="weight">
          </div>
          <div class="validation"
               *ngIf="form.get('weight').touched && form.get('weight').invalid"
          >
            <small *ngIf="form.get('weight').errors.required">Enter your height</small>
            <small *ngIf="form.get('weight').errors.max">Check your weight it is too big</small>
            <small *ngIf="form.get('weight').errors.min">Your weight must be at least {{form.get('weight').errors.min.min}}</small>
          </div>
        </div>

        <div class="wrap-box">
          <div class="form-control" [ngClass]="{invalid:form.get('goalWeight').touched && form.get('goalWeight').invalid}">
            <input type="number" placeholder="Your goal weight" class="personal-data" formControlName="goalWeight">
          </div>
          <div class="validation"
               *ngIf="form.get('goalWeight').touched && form.get('goalWeight').invalid"
          >
            <small *ngIf="form.get('goalWeight').errors.required">Enter your height</small>
            <small *ngIf="form.get('goalWeight').errors.max">Check your goal weight it is too big</small>
            <small *ngIf="form.get('goalWeight').errors.min">Your goal weight must be at least {{form.get('goalWeight').errors.min.min}}</small>
          </div>
        </div>

        <button
          type="submit"
          class="btn-default btn-next-2ndStep"
          [disabled]="form.invalid"
          (click)="saveParams()"
        >Next</button>
      </form>
