.demo-chart {
  width: 135px;
  height: 135px;
}
.chart {
  display: flex;
}
.card {
  float: left;
  background: var(--backstyle-color);
  padding: 40px 25px 40px 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
p {
  font-size: 1.8rem;
  font-weight: 600;
  color: #3F3D56;
  margin-bottom: 15px;
}

