<div class="wrap">

<!--  <button class="btn-default" (click)="sendProductToFB()">Send product</button>-->

      <div class="form-control" *ngIf="isOpen">
        <div class="searchbar">
          <input type="text" placeholder="Search products" [(ngModel)]="searchText" (input)="fetchProducts()">
          <i class="fa fa-times" (click)="openSearchBar()"></i>
        </div>

        <ng-template #noProduct>
          <div class="message">
            <p>Product doesn't exist or not introduced</p>
          </div>
        </ng-template>

        <table *ngIf="searchText && arrOfProd.length != 0; else noProduct">
          <thead class="table-header">
          <th class="product">product</th>
          <th>protein</th>
          <th>fat</th>
          <th>carbohydrate</th>
          <th>calories</th>
          <th>grammes</th>
          <th></th>
          </thead>
          <tbody>
          <tr
            *ngFor="let product of arrOfProd; let i = index"
            >
              <td class="product-name" >{{arrOfProd[i].name}}</td>
              <td>{{arrOfProd[i].protein}}</td>
              <td>{{arrOfProd[i].fat}}</td>
              <td>{{arrOfProd[i].carbohydrate}}</td>
              <td>{{arrOfProd[i].calories}}</td>
              <td><input type="number" [(ngModel)]="arrOfProd[i].weight" (change)="changeWeight(arrOfProd[i].weight, i)">  gr</td>
              <td class="add-food" *ngIf="idx === 0" (click)="sendUserBreakfast(i)"><i class="fa fa-plus"></i></td>
              <td class="add-food" *ngIf="idx === 1" (click)="sendUserLunch(i)"><i class="fa fa-plus"></i></td>
              <td class="add-food" *ngIf="idx === 2" (click)="sendUserDinner(i)"><i class="fa fa-plus"></i></td>
              <td class="add-food" *ngIf="idx === 3" (click)="sendUserSnack(i)"><i class="fa fa-plus"></i></td>
          </tr>
          </tbody>
        </table>
      </div>

  <table>

    <thead class="table-header">
    <tr
      *ngIf="isLoadSumFood"
    >
      <th class="total">Total</th>
      <th>protein <br> <span>{{sumFood.protein | number: '1.1-1'}}</span></th>
      <th>fat <br> <span>{{sumFood.fat | number: '1.1-1'}}</span></th>
      <th>carbohydrate <br> <span>{{sumFood.carbohydrate | number: '1.1-1'}}</span></th>
      <th>calories <br> <span>{{sumFood.calories}}</span></th>
      <th></th>
      <th class="data">{{dateService.date | async | moment: 'DD.MM.YYYY'}}</th>
    </tr>
    </thead>

    <tr
      class="food"
      *ngIf="isLoadSumBreakfast"
    >
      <td class="eating-name">{{foodType[0]}}</td>
      <td>{{sumBreakfast.protein | number: '1.1-1'}}</td>
      <td>{{sumBreakfast.fat | number: '1.1-1'}}</td>
      <td>{{sumBreakfast.carbohydrate | number: '1.1-1'}}</td>
      <td>{{sumBreakfast.calories | number: '1.0-0'}}</td>
      <td class="add-food" (click)="openSearchBar(); idx = 0"><i class="fa fa-plus"></i></td>
      <td class="open-products"  (click)="openFoodBreakfast()">
        <i class="fa fa-chevron-down" *ngIf="!isLoadBreakfast"></i>
        <i class="fa fa-chevron-up" *ngIf="isLoadBreakfast"></i>
      </td>
    </tr>
    <tbody *ngIf="isLoadBreakfast">
      <tr class="products"
          *ngFor="let product of userProductsBreakfast; let i = index"
      >
        <td class="product-name">{{product.name}}</td>
        <td>{{product.protein}}</td>
        <td>{{product.fat}}</td>
        <td>{{product.carbohydrate}}</td>
        <td>{{product.calories}}</td>
        <td>{{product.weight}} gr</td>
        <td class="delete" (click)="removeBreakfast(product)"><i class="fa fa-minus"></i></td>
      </tr>
    </tbody>


    <tr class="food"
        *ngIf="isLoadSumLunch"
    >
      <td class="eating-name">{{foodType[1]}}</td>
      <td>{{sumLunch.protein | number: '1.1-1'}}</td>
      <td>{{sumLunch.fat | number: '1.1-1'}}</td>
      <td>{{sumLunch.carbohydrate | number: '1.1-1'}}</td>
      <td>{{sumLunch.calories | number: '1.0-0'}}</td>
      <td class="add-food" (click)="openSearchBar(); idx = 1" ><i class="fa fa-plus"></i></td>
      <td class="open-products"  (click)="openFoodLunch()">
        <i class="fa fa-chevron-down" *ngIf="!isLoadLunch"></i>
        <i class="fa fa-chevron-up" *ngIf="isLoadLunch"></i>
      </td>
    </tr>

    <tbody *ngIf="isLoadLunch">
      <tr class="products"
          *ngFor="let product of userProductsLunch; let i = index"
      >
        <td class="product-name">{{product.name}}</td>
        <td>{{product.protein}}</td>
        <td>{{product.fat}}</td>
        <td>{{product.carbohydrate}}</td>
        <td>{{product.calories}}</td>
        <td>{{product.weight}} gr</td>
        <td class="delete" (click)="removeLunch(product)"><i class="fa fa-minus"></i></td>
      </tr>
    </tbody>

    <tr class="food"
        *ngIf="isLoadSumDinner"
    >
      <td class="eating-name">{{foodType[2]}}</td>
      <td>{{sumDinner.protein | number: '1.1-1'}}</td>
      <td>{{sumDinner.fat | number: '1.1-1'}}</td>
      <td>{{sumDinner.carbohydrate | number: '1.1-1'}}</td>
      <td>{{sumDinner.calories | number: '1.0-0'}}</td>
      <td class="add-food" (click)="openSearchBar(); idx = 2"><i class="fa fa-plus"></i></td>
      <td class="open-products"  (click)="openFoodDinner()">
        <i class="fa fa-chevron-down" *ngIf="!isLoadDinner"></i>
        <i class="fa fa-chevron-up" *ngIf="isLoadDinner"></i>
      </td>
    </tr>
    <tbody *ngIf="isLoadDinner">
      <tr class="products"
          *ngFor="let product of userProductsDinner; let i = index"
      >
        <td class="product-name">{{product.name}}</td>
        <td>{{product.protein}}</td>
        <td>{{product.fat}}</td>
        <td>{{product.carbohydrate}}</td>
        <td>{{product.calories}}</td>
        <td>{{product.weight}} gr</td>
        <td class="delete" (click)="removeDinner(product)"><i class="fa fa-minus"></i></td>
      </tr>
    </tbody>

    <tr class="food"
        *ngIf="isLoadSumSnack"
    >
      <td class="eating-name">{{foodType[3]}}</td>
      <td>{{sumSnack.protein | number: '1.1-1'}}</td>
      <td>{{sumSnack.fat | number: '1.1-1'}}</td>
      <td>{{sumSnack.carbohydrate | number: '1.1-1'}}</td>
      <td>{{sumSnack.calories | number: '1.0-0'}}</td>
      <td class="add-food" (click)="openSearchBar(); idx = 3"><i class="fa fa-plus"></i></td>
      <td class="open-products"  (click)="openFoodSnack()">
        <i class="fa fa-chevron-down" *ngIf="!isLoadSnack"></i>
        <i class="fa fa-chevron-up" *ngIf="isLoadSnack"></i>
      </td>
    </tr>
    <tbody *ngIf="isLoadSnack">
      <tr class="products"
          *ngFor="let product of userProductsSnack; let i = index"
      >
        <td class="product-name">{{product.name}}</td>
        <td>{{product.protein}}</td>
        <td>{{product.fat}}</td>
        <td>{{product.carbohydrate}}</td>
        <td>{{product.calories}}</td>
        <td>{{product.weight}} gr</td>
        <td class="delete" (click)="removeSnack(product)"><i class="fa fa-minus"></i></td>
      </tr>
    </tbody>

  </table>
</div>
