<div class="wrap">

<!--  <button class="btn-default" (click)="sendProductToFB()">Send product</button>-->

      <div class="form-control" *ngIf="isOpen">
        <div class="searchbar">
          <input type="text" placeholder="Search products" [(ngModel)]="addProductToFoodDiaryService.searchText" (input)="addProductToFoodDiaryService.getProductInformationFromFB()" >
          <i class="fa fa-times" (click)="openSearchBar()"></i>
        </div>
        <table *ngIf="addProductToFoodDiaryService.searchText">
          <thead class="table-header">
          <th class="product">product</th>
          <th>protein</th>
          <th>fat</th>
          <th>carbohydrate</th>
          <th>calories</th>
          <th>grammes</th>
          <th></th>
          </thead>
          <tbody>
          <tr
            *ngFor="let product of addProductToFoodDiaryService.arrOfProd"
            >
              <td class="product-name">{{product.name}}</td>
              <td>{{product.protein}}</td>
              <td>{{product.fat}}</td>
              <td>{{product.carbohydrate}}</td>
              <td>{{product.calories}}</td>
              <td><input type="number" value="{{product.weight}}">  gr</td>
              <td class="add-food"><i class="fa fa-plus"></i></td>
          </tr>
          </tbody>
        </table>
      </div>

  <table>

    <thead class="table-header">
    <tr>
      <th class="total">Total</th>
      <th>protein <br> <span>65.5</span></th>
      <th>fat <br> <span>38.6</span></th>
      <th>carbohydrate <br> <span>110.1</span></th>
      <th>calories <br> <span>1200</span></th>
      <th></th>
      <th class="data">{{dateService.date | async | moment: 'DD.MM.YYYY'}}</th>
    </tr>
    </thead>
    <tbody>

    <tr class="food">
      <td class="eating-name">Breakfast</td>
      <td>21.1</td>
      <td>12.6</td>
      <td>45.5</td>
      <td>425</td>
      <td class="add-food" (click)="openSearchBar()"><i class="fa fa-plus"></i></td>
      <td class="open-products"><i class="fa fa-chevron-down"></i></td>
    </tr>
    <tr class="products">
      <td class="product-name">Milk, 2.5%</td>
      <td>21.1</td>
      <td>12.6</td>
      <td>45.5</td>
      <td>425</td>
      <td><input type="text" value="120"> gr </td>
      <td class="delete"><i class="fa fa-minus"></i></td>
    </tr>
    <tr class="products">
      <td class="product-name">Milk, 2.5%</td>
      <td>21.1</td>
      <td>12.6</td>
      <td>45.5</td>
      <td>425</td>
      <td><input type="text" value="120"> gr </td>
      <td class="delete"><i class="fa fa-minus"></i></td>
    </tr>
    <tr class="food">
      <td class="eating-name">Lunch</td>
      <td>21.1</td>
      <td>12.6</td>
      <td>45.5</td>
      <td>425</td>
      <td class="add-food"><i class="fa fa-plus"></i></td>
      <td class="open-products"><i class="fa fa-chevron-down"></i></td>
    </tr>
    <tr class="food">
      <td class="eating-name">Dinner</td>
      <td>21.1</td>
      <td>12.6</td>
      <td>45.5</td>
      <td>425</td>
      <td class="add-food" (click)="openSearchBar()"><i class="fa fa-plus"></i></td>
      <td class="open-products"><i class="fa fa-chevron-down"></i></td>
    </tr>
    <tr class="food">
      <td class="eating-name">Snack</td>
      <td>21.1</td>
      <td>12.6</td>
      <td>45.5</td>
      <td>425</td>
      <td class="add-food" (click)="openSearchBar()"><i class="fa fa-plus"></i></td>
      <td class="open-products"><i class="fa fa-chevron-down"></i></td>
    </tr>
    </tbody>
  </table>
</div>
