<div class="wrap">

<!--  <button class="btn-default" (click)="sendProductToFB()">Send product</button>-->

      <div class="form-control" *ngIf="isOpen">
        <div class="searchbar">
          <input type="text" placeholder="Search products" [(ngModel)]="searchText" (input)="fetchProducts()">
          <i class="fa fa-times" (click)="openSearchBar()"></i>
        </div>

        <ng-template #noProduct>
          <div class="message">
            <p>Product doesn't exist or not introduced</p>
          </div>
        </ng-template>

        <table *ngIf="searchText && arrOfProd.length != 0; else noProduct">
          <thead class="table-header">
          <th class="product">product</th>
          <th>protein</th>
          <th>fat</th>
          <th>carbohydrate</th>
          <th>calories</th>
          <th>grammes</th>
          <th></th>
          </thead>
          <tbody>
          <tr
            *ngFor="let product of arrOfProd; let i = index"
            >
              <td class="product-name" >{{arrOfProd[i].name}}</td>
              <td>{{arrOfProd[i].protein}}</td>
              <td>{{arrOfProd[i].fat}}</td>
              <td>{{arrOfProd[i].carbohydrate}}</td>
              <td>{{arrOfProd[i].calories}}</td>
              <td><input type="number" [(ngModel)]="arrOfProd[i].weight" (change)="changeWeight(arrOfProd[i].weight, i)">  gr</td>
              <td class="add-food" *ngIf="idx === 0" (click)="sendUserBreakfast(i)"><i class="fa fa-plus"></i></td>
              <td class="add-food" *ngIf="idx === 1" (click)="sendUserLunch(i)"><i class="fa fa-plus"></i></td>
              <td class="add-food" *ngIf="idx === 2" (click)="sendUserDinner(i)"><i class="fa fa-plus"></i></td>
              <td class="add-food" *ngIf="idx === 3" (click)="sendUserSnack(i)"><i class="fa fa-plus"></i></td>
          </tr>
          </tbody>
        </table>
      </div>

  <table>

    <thead class="table-header">
    <tr>
      <th class="total">Total</th>
      <th>protein <br> <span>65.5</span></th>
      <th>fat <br> <span>38.6</span></th>
      <th>carbohydrate <br> <span>110.1</span></th>
      <th>calories <br> <span>1200</span></th>
      <th></th>
      <th class="data">{{dateService.date | async | moment: 'DD.MM.YYYY'}}</th>
    </tr>
    </thead>

    <tr
      class="food">
      <td class="eating-name">{{foodType[0]}}</td>
      <td>21.1</td>
      <td>12.6</td>
      <td>45.5</td>
      <td>425</td>
      <td class="add-food" (click)="openSearchBar(); idx = 0"><i class="fa fa-plus"></i></td>
      <td class="open-products"  (click)="openFood()">
        <i class="fa fa-chevron-down" *ngIf="!loadFood"></i>
        <i class="fa fa-chevron-up" *ngIf="loadFood"></i>
      </td>
    </tr>
    <tbody *ngIf="loadFood">
      <tr class="products"
          *ngFor="let product of userProductsBreakfast; let i = index"
      >
        <td class="product-name">{{product.name}}</td>
        <td>{{product.protein}}</td>
        <td>{{product.fat}}</td>
        <td>{{product.carbohydrate}}</td>
        <td>{{product.calories}}</td>
        <td><input type="number" [(ngModel)]="product.weight"> gr </td>
        <td class="delete"><i class="fa fa-minus"></i></td>
      </tr>
    </tbody>


    <tr class="food">
      <td class="eating-name">{{foodType[1]}}</td>
      <td>21.1</td>
      <td>12.6</td>
      <td>45.5</td>
      <td>425</td>
      <td class="add-food" (click)="openSearchBar(); idx = 1" ><i class="fa fa-plus"></i></td>
      <td class="open-products"  (click)="openFood()">
        <i class="fa fa-chevron-down" *ngIf="!loadFood"></i>
        <i class="fa fa-chevron-up" *ngIf="loadFood"></i>
      </td>
    </tr>

    <tbody *ngIf="loadFood">
      <tr class="products"
          *ngFor="let product of userProductsLunch; let i = index"
      >
        <td class="product-name">{{product.name}}</td>
        <td>{{product.protein}}</td>
        <td>{{product.fat}}</td>
        <td>{{product.carbohydrate}}</td>
        <td>{{product.calories}}</td>
        <td><input type="number" [(ngModel)]="product.weight"> gr </td>
        <td class="delete"><i class="fa fa-minus"></i></td>
      </tr>
    </tbody>

    <tr class="food">
      <td class="eating-name">{{foodType[2]}}</td>
      <td>21.1</td>
      <td>12.6</td>
      <td>45.5</td>
      <td>425</td>
      <td class="add-food" (click)="openSearchBar(); idx = 2"><i class="fa fa-plus"></i></td>
      <td class="open-products"  (click)="openFood()">
        <i class="fa fa-chevron-down" *ngIf="!loadFood"></i>
        <i class="fa fa-chevron-up" *ngIf="loadFood"></i>
      </td>
    </tr>
    <tbody *ngIf="loadFood">
      <tr class="products"
          *ngFor="let product of userProductsDinner; let i = index"
      >
        <td class="product-name">{{product.name}}</td>
        <td>{{product.protein}}</td>
        <td>{{product.fat}}</td>
        <td>{{product.carbohydrate}}</td>
        <td>{{product.calories}}</td>
        <td><input type="number" [(ngModel)]="product.weight"> gr </td>
        <td class="delete"><i class="fa fa-minus"></i></td>
      </tr>
    </tbody>

    <tr class="food">
      <td class="eating-name">{{foodType[3]}}</td>
      <td>21.1</td>
      <td>12.6</td>
      <td>45.5</td>
      <td>425</td>
      <td class="add-food" (click)="openSearchBar(); idx = 3"><i class="fa fa-plus"></i></td>
      <td class="open-products"  (click)="openFood()">
        <i class="fa fa-chevron-down" *ngIf="!loadFood"></i>
        <i class="fa fa-chevron-up" *ngIf="loadFood"></i>
      </td>
    </tr>
    <tbody *ngIf="loadFood">
      <tr class="products"
          *ngFor="let product of userProductsSnack; let i = index"
      >
        <td class="product-name">{{product.name}}</td>
        <td>{{product.protein}}</td>
        <td>{{product.fat}}</td>
        <td>{{product.carbohydrate}}</td>
        <td>{{product.calories}}</td>
        <td><input type="number" [(ngModel)]="product.weight"> gr </td>
        <td class="delete"><i class="fa fa-minus"></i></td>
      </tr>
    </tbody>

  </table>
</div>
