.header {
  height: 100px;
  background: linear-gradient(to bottom right, var(--light-color), var(--accent-color));

  .navigation {
    height: 100px;
    margin: 0 auto;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4rem;

    .wrap {
      display: flex;
      align-items: center;
    }
    .links>li {
      text-decoration: none;
      display: inline-block;
      a {
        text-decoration: none;
        color: #fff;
        font-size: 2.4rem;
        font-weight: 400;
        margin-right: 80px;
        cursor: pointer;
      }
      .active {
        border-bottom: 2px solid #fff;
      }
    }
  }
}
