<div class="wrap" *ngIf="isLoaded">
  <h3>Hi, {{userInformation.username}}!</h3>

  <mf-donuts></mf-donuts>

  <div class="add-info-block">
    <div class="weight-info">
      <p>Current weight</p>
      <small>{{date}}</small>
      <p class="current-number">{{weight}} kg</p>
      <i class="fa fa-plus"
         (click)="openChangeCurrentWeight()"
      ></i>
      <div class="input-weight-goal"
           *ngIf="isOpenChangeWeight"
      >
        <div class="change">
          <input type="number" [(ngModel)]="weight">
          <i class="fa fa-times" (click)="openChangeCurrentWeight()"></i>
        </div>
        <button
          (click)="sendNewUserWeight();openChangeCurrentWeight()">Change</button>
      </div>
    </div>
    <div class="calorie-info">
      <p>Current calorie <br> goal</p>
      <p class="current-number">{{userInformation.caloriesGoal}} ccal</p>
      <i class="fa fa-plus"
         (click)="openCalorieGoal()"
      ></i>
      <div class="input-calorie-goal"
           *ngIf="isOpenCalorieGoal"
           >
        <div class="change">
          <input type="number" [(ngModel)]="newCalorieGoal">
          <i class="fa fa-times" (click)="openCalorieGoal()"></i>
        </div>
        <button (click)="sendNewCalorieGoal();openCalorieGoal()">Change</button>
      </div>

    </div>
  </div>
</div>
