<div class="container">
  <div class="first-screen">
        <div class="introducing">
          <h1>Healthy and Harmony life</h1>
          <p>We will help you reach your weight goals.</p>
          <a *ngIf="!auth.isAuthenticated()" routerLink="/login" class="btn-default">Sign in</a>
          <a *ngIf="auth.isAuthenticated()" (click)="auth.logout()" routerLink="/login" class="btn-default">Sign out</a>
        </div>

    <img src="assets/images/main-banner.png" alt="">
  </div>

  <div class="about-app">
    <div class="description">
      <img src="assets/images/first-about.png" alt="">
      <p>A food diary to keep track of what you're <br> eating</p>
    </div>
    <div class="description">
      <img src="assets/images/second-about.png" alt="">
      <p>A large collection of healthy recipes for your diet</p>
    </div>
    <div class="description">
      <img src="assets/images/third-about.png" alt="">
      <p>A weight chart and journal to record your progress</p>
    </div>
  </div>
</div>

