<!--      3rd STEP-->
      <div class="steps">
      <div class="wrap-calories">
        <p>Recommended calories <br> for your goal</p>
        <span>{{calRecommended}}</span>
        <p>You may change <br> this value:</p>
          <input type="number" [(ngModel)]="calFromUser" class="calorie-change" >
          <button type="submit"
                  class="btn-default btn-next-3rdStep"
                  [disabled]="!calFromUser"
                  (click)="saveCalories()"
          >Next</button>
      </div>
    </div>

