<div class="wrap">
  <div class="container">
    <div class="month">
      <i class="fa fa-caret-left" (click)="go(-1)"></i>
      <p>{{dateService.date | async | moment}}</p>
      <i class="fa fa-caret-right" (click)="go(1)"></i>
    </div>
    <table>
      <thead>
      <tr>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wen</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let week of calendar">
        <td
          *ngFor="let day of week.days"
          [class.disabled] = "day.disabled"
          [class.selected]="day.selected"
          [class.active]="day.active"
          (click)="select(day.value)"
        >
          {{day.value | moment: 'DD'}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
