<div class="wrap" *ngIf="isLoaded">
  <div class="left-bar">
    <mf-leftbar-diary></mf-leftbar-diary>
    <mf-calendar></mf-calendar>
  </div>
  <div class="statistics">
    <div class="weight-progress">
      <button class="btn-default" (click)="updateWeightGraphic()">Update</button>
      <div echarts [options]="optionWeight" class="demo-chart"></div>
    </div>
  <div class="average-calories">
    <p>Choose month to see you calories per day</p>
    <select name="" id="month" [(ngModel)]="month" (change)="getAllFood(month)">
      <option value="01" >January</option>
      <option value="02" >February</option>
      <option value="03" >March</option>
      <option value="04" >April</option>
      <option value="05" >May</option>
      <option value="06" >June</option>
      <option value="07" >July</option>
      <option value="08" >August</option>
      <option value="09" selected>September</option>
      <option value="10" >October</option>
      <option value="11" >November</option>
      <option value="12" >December</option>
    </select>
    <div class="weight-progress">
      <div echarts [options]="optionCalories" class="demo-chart"></div>
    </div>
  </div>
  </div>
</div>
